<html>
 <body>
  <div class="container mt-5">
   <div class="row justify-content-between">
   </div>
  </div>
  <div class="col-12 col-md-7">
   <h1 class="heading h1-heading">
    Health Insurance With Cardiac Cover
   </h1>
   <div class="contentClass1 GeneralInfo_keyFeatures__QlkZL">
    <p>
     Globally, there is a noticeable increase in the number of people suffering from heart diseases, irrespective of their age. According to WHO, cardiovascular diseases have become one of the top reasons for deaths globally, taking approximately 17.9 million lives per year. Generally, cardiovascular diseases happen due to heart and blood vessel's disorders, including raised blood pressure levels, glucose levels, etc.
    </p>
    <p>
     Key benefits of Health Insurance For Heart Patients:
    </p>
    <ul>
     <li>
      In-patient treatment
     </li>
     <li>
      Doctor/hospital for a second opinion covered
     </li>
     <li>
      96.43% Claim Settlement Ratio FY 19-20
     </li>
     <li>
      Cashless hospitalization at 10,000+ hospitals
     </li>
     <li>
      No room rent restrictions on MediCare Premier/MediCare
     </li>
    </ul>
    <p>
     Please refer
     <a href="https://tataaig.com/s3/Tata_AIG_Medi_Care_Premier_2f02f3813c.pdf">
      policy wordings
     </a>
     for inclusion/Exclusions/Waiting period
    </p>
    <p>
     <a href="https://tataaig.com/s3/Critical_Illness_ad70f91d6c.pdf">
      Critical Illness policy wordings
     </a>
    </p>
   </div>
  </div>
  <div class="container mt-5">
   <div class="col-12">
    <div class="row">
     <h2 class="heading text-capitalize h2-heading">
      Health Insurance With Cardiac Cover
     </h2>
    </div>
    <div class="row">
     <div class="contentClass1">
      <p>
       A few major reasons of this surge in number people with heart diseases are the changing eating habits, lifestyle rising stress level, etc. Usually, the inactive lifestyle results in obesity, high blood pressure, diabetes, etc., ultimately affecting heart health, may cause heart strokes, cardiac arrest, etc. Once people catch hold of such diseases after a thorough diagnosis, a considerable amount of money is required for the treatment. Therefore, it is essential to buy heart insurance or cardiac health insurance to fight such challenging situations and have readily available finances for the treatment.
      </p>
      <p>
       Generally, acute heart diseases include myocardial infarction, refractory heart failure, cardiomyopathy, etc. To get cover for such conditions, it is essential to buy health insurance for heart disease to handle these emergencies in a better way. We also have
       <a href="https://www.tataaig.com/health-insurance">
        health insurance
       </a>
       for heart patient available, though, with a few conditions attached.
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="container mt-5">
   <div class="col-12">
    <div class="row">
     <h2 class="heading text-capitalize h2-heading">
      Benefits of Cardiac Cover Health Insurance / Critical Illness Insurance Policy
     </h2>
    </div>
    <div class="row">
     <div class="contentClass1">
      <p>
       The insured might receive the benefit in one lump sum amount, which is subjected to the exclusions and limitations provided in the insurance policy's provisions. Find below a few benefits of cardiac care insurance policy:
      </p>
      <p>
       Compensation for the treatment cost and other associated expenses, like hospitalization expenses.
       <br/>
       Under cardiac care health insurance, you will be compensated for the loss of your income as the claim amount can be used to incur household expenses too.
      </p>
      <p>
       Under Income Tax Act, 1961, you are eligible to avail of tax benefits on the amount you pay for the premium. To understand
       <a href="https://www.tataaig.com/health-insurance/health-insurance-tax-benefits">
        health insurance tax benefits
       </a>
       , we've curated an indepth guide to help you save on taxes by the purchase of a health insurance plan.
      </p>
      <p>
       Depending on the coverage, heart insurance might even cover treatment in a foreign nation.
       <br/>
       You can keep up with the rising medical costs, which might wipe away all your savings.
       <br/>
       Peace of mind, if, unfortunately, the insured gets a heart attack, he/she can simply apply for the claim under cardiac care insurance and need not worry about the finances.
       <br/>
       Nonetheless, these benefits of heart health insurance are subject to certain conditions.
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="container mt-5">
   <div class="col-12">
    <div class="row">
     <h2 class="heading text-capitalize h2-heading">
      Heart and Vascular Conditions
     </h2>
    </div>
    <div class="row">
     <div class="contentClass1">
      <p>
       Find below a few types of heart diseases for which you can apply for the claim amount under health insurance for heart:
      </p>
      <p>
       Myocardial Infarction (First Heart Attack)
      </p>
      <p>
       Under this, a portion of the heart muscle dies due to inadequacy of the blood supply to this area. The diagnosis of myocardial infarction should be supported by:
      </p>
      <p>
       Typical clinical symptoms like chest pain along with acute myocardial infarction
       <br/>
       Electrocardiogram changes with new characteristics
       <br/>
       Increase in infarction enzymes such as Troponins or other biochemical markers.
       <br/>
       There are certain exclusions from the heart Insurance plan, for which your claim might get rejected, like acute coronary syndromes, chest pain or discomfort caused by coronary heart disease etc.
      </p>
      <p>
       The heart attack health insurance, which is usually a part of critical illness insurance, provides coverage for Myocardial Infarction. Also, you can apply for health insurance after angioplasty, i.e., after the process of restoring the blood flow through the artery.
      </p>
      <p>
       Refractory Heart Failure
      </p>
      <p>
       This should be diagnosed by a cardiologist, and the optimal therapy must have been initiated for at least 6 months. Find below the criteria to receive the claim under refractory heart failure. Out of 8, at least 4 of them should be present:
      </p>
      <p>
       When Third Heart Sound is present
       <br/>
       On chest x-ray, presence of cardiomegaly/enlarged heart
       <br/>
       When jugular venous pressure goes above 6cms
       <br/>
       40% or less LVEF on the 2D echocardiography report
       <br/>
       When Presence of Rales in both bases is felt and heard via stethoscope.
       <br/>
       Gross ascites, i.e. abnormal build-up of fluid in the abdomen with peripheral fluid retention or marked abdominal distension
       <br/>
       Elevated levels of biomarkers
       <br/>
       Functional capacity, heart disease caused to a person who experiences palpitation, fatigue, etc., due to rare physical activities.
       <br/>
       Heart failure caused due to auto-immune disorder or alcohol and drug abuse is excluded from the insurance plan.
      </p>
      <p>
       Cardiomyopathy
      </p>
      <p>
       It is a disease of heart muscles that makes it difficult to pump blood to the rest of your body. It should also be diagnosed by a cardiologist. It covers cases of clinical impairment of heart function, where the person is unable to perform any physical activities for at least 30 days or low functional capacity, and LVEF is 40% or less.
      </p>
      <p>
       The exclusions under cardiomyopathy are- when it is caused by drug or alcohol abuse or other forms of heart disease like heart enlargement or inflammation in the heart muscle.
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="container mt-5">
   <div class="col-12">
    <div class="row">
     <h2 class="heading text-capitalize h2-heading">
      Health Insurance for Heart Patients
     </h2>
    </div>
    <div class="row">
     <div class="contentClass1">
      <p>
       Health insurance for cardiac patients is also provided with additional benefits, provided you disclose the same at the time of application. Every time any critical illness emergency arises, it involves a considerable cost that is not easy to manage. One of the health insurance for heart patients should be chosen, which provides maximum coverage and has a lower waiting period. Find below a few benefits that are covered under an insurance policy for heart patient:
      </p>
      <p>
       <strong>
        Pre and Post-Hospitalization Expenses
       </strong>
      </p>
      <p>
       As these expenses are covered in other health insurance plans, they are also covered under health insurance for heart patients.
      </p>
      <p>
       <strong>
        Annual Health Check-ups/Wellness Program
       </strong>
      </p>
      <p>
       Under medical insurance for heart patients, an annual health check-up is also included to track the insured's lifestyle and dietary habits.
      </p>
      <p>
       <strong>
        Domiciliary Hospitalization / OPD Treatment
       </strong>
      </p>
      <p>
       The
       <a href="https://www.tataaig.com/knowledge-center/health-insurance/what-is-domiciliary-hospitalization-and-how-it-works">
        Domiciliary Hospitalization
       </a>
       is also provided under insurance for heart patients, in case the patient is not in a state to be carried to the hospital or there is no vacant bed in the hospital, etc.
      </p>
      <p>
       <strong>
        Coverage for In-hospitalization Expenses
       </strong>
      </p>
      <p>
       These are the expenses that are incurred in the hospital. These are also reimbursed by the insurance provider, depending on the hospital where the treatment is being done.
      </p>
      <p>
       To apply for the claim under heart insurance policy, you need keep a things in mind for quick disbursal of the claim amount.
      </p>
      <p>
       Please refer policy wordings for inclusion/Exclusions/Waiting period
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="container mt-5">
   <div class="col-12">
    <div class="row">
     <h2 class="heading text-capitalize h2-heading">
      Claim Procedure and Claim Payment
     </h2>
    </div>
    <div class="row">
     <div class="contentClass1">
      <p>
       A 3-step process needs to be followed to receive the claim amount:
      </p>
      <p>
       Intimation and Assistance
       <br/>
       As the first step, it is essential to inform us that you will require the claim amount in the next couple of days. You can notify us via SMS/Call/E-mail about the same.
       <br/>
       Keep the policy/certificate number and a set of claim documents ready.
       <br/>
       We need basic information of the policyholder at the time of claim intimation:
       <br/>
       Insured person's name
       <br/>
       Date and time of the event
       <br/>
       The nature of surgery/accident/illness/injury
       <br/>
       The name of the hospital/doctor where the treatment is taking place
       <br/>
       Email id/ Contact No. of the insured
       <br/>
       The intimation of the event must be given within 30 days of the happening. This time limit might be quite flexible in a few cases.
      </p>
      <p>
       Claim Notification
       <br/>
       Claim notification is the pre-requisite of our liability to pay you the amount. You should submit written notice within 7 days of the happening of the event and not later than 30 days.
      </p>
      <p>
       If you fail to provide the same, your claim might not be rejected if you satisfy us with a valid reason for your inability to inform us about the same. This is accepted in exceptional circumstances after analyzing the situation thoroughly.
      </p>
      <p>
       Supporting Documentation and Examination
       <br/>
       If you or someone on your behalf apply for the claim, it is necessary to produce the necessary documents, including the medical record of the insured and other information, within 15 days of the event's occurrence.
      </p>
      <p>
       Failure to submit these documents will not lead to rejection of the claim if you provide a valid reason for the delay.
      </p>
      <p>
       TATA AIG's health insurance products are renowned for delivering quality insurance for a long time. We provide tailored heart insurance plans to suit the client's specifications and cover maximum events in tandem with the insured's financial capacity. We also have a heart and cancer insurance plan under a critical illness insurance plan that provides broader coverage. We have considerable flexibility so that, even if an individual skips to intimate us or submit the documents within the stipulated time limit, they are still left with the available options.
      </p>
      <p>
       With the rising uncertainties, it is essential to take care of your health, maintain a healthy diet and exercise regularly. Most importantly, you should stay covered under a
       <a href="https://www.tataaig.com/health-insurance/critical-illness-insurance">
        critical illness insurance plan
       </a>
       to keep your finances safe throughout your life.
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="container mt-5">
   <h3 class="subHeading">
    Disclaimer / TnC
   </h3>
   <p class="blogTitleDetail">
    Your policy is subjected to terms and conditions &amp; inclusions and exclusions mentioned in your policy wording. Please go through the
    <!-- -->
    <a href="/downloads">
     documents
    </a>
    <!-- -->
    carefully.
   </p>
  </div>
  <div class="container mt-5">
   <div class="row">
    <div align="center" class="col-12">
     <h2 class="heading h2-heading" style="text-align:center">
      <!-- -->
      Related Articles
     </h2>
    </div>
   </div>
   <div class="row mt-5 mDisplayNone">
    <a class="col-12 col-md-4 mmt3" href="/knowledge-center/health-insurance/15-terms-you-must-know-before-buying-health-insurance" style="text-decoration:none">
     <div class="relatedArticles_relatedArticlesBox__sPOKz h-100 relatedArticleBoxHover">
      <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/15-terms-you-must-know-before-buying-health-insurance_7213e5912a.jpeg"/>
      <h3 class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles h3-heading" style="text-transform:capitalize">
       15 terms you must know before buying health insurance
      </h3>
      <div class="contentClass3 pb-3 paddingForDesktopRelatedArticles" style="text-align:left">
       We have listed all 15 terms a health insurance buyer should know before buying any health insurance for you or your family.
      </div>
     </div>
    </a>
    <a class="col-12 col-md-4 mmt3" href="/knowledge-center/health-insurance/how-much-health-insurance-do-i-need" style="text-decoration:none">
     <div class="relatedArticles_relatedArticlesBox__sPOKz h-100 relatedArticleBoxHover">
      <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/How-Much-Health-Insurance-Do-You-Need_1c8ff87360.jpeg"/>
      <h3 class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles h3-heading" style="text-transform:capitalize">
       How Much Health Insurance Do You Need?
      </h3>
      <div class="contentClass3 pb-3 paddingForDesktopRelatedArticles" style="text-align:left">
       While more and more people are getting insurance for things they care about, underinsurance is still a major problem in our country.
      </div>
     </div>
    </a>
    <a class="col-12 col-md-4 mmt3" href="/knowledge-center/health-insurance/4-simple-steps-to-file-a-mediclaim-in-india" style="text-decoration:none">
     <div class="relatedArticles_relatedArticlesBox__sPOKz h-100 relatedArticleBoxHover">
      <img alt="steps to claim Mediclaim in India" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/steps-to-claim-health-insurance_1ab9ae3575.jpeg"/>
      <h3 class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles h3-heading" style="text-transform:capitalize">
       4 simple steps to claim MediClaim in India
      </h3>
      <div class="contentClass3 pb-3 paddingForDesktopRelatedArticles" style="text-align:left">
       Check that all the documents contain required information like the patient name, document number, serial number, cost price, signature of the authorised person and so on
      </div>
     </div>
    </a>
   </div>
   <div class="row dDisplayNone">
    <div class="col-12 p-0">
     <div class="content">
      <div class="slick-slider slick-initialized" dir="ltr">
       <div class="slick-list" style="padding:0px 30px">
        <div class="slick-track" style="width:800%;left:-200%">
         <div aria-hidden="true" class="slick-slide slick-cloned" data-index="-2" style="width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/how-much-health-insurance-do-i-need" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/How-Much-Health-Insurance-Do-You-Need_1c8ff87360.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              How Much Health Insurance Do You Need?
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              While more and more people are getting insurance for things they care about, underinsurance is still a major problem in our country.
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="true" class="slick-slide slick-cloned" data-index="-1" style="width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/4-simple-steps-to-file-a-mediclaim-in-india" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="steps to claim Mediclaim in India" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/steps-to-claim-health-insurance_1ab9ae3575.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              4 simple steps to claim MediClaim in India
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              Check that all the documents contain required information like the patient name, document number, serial number, cost price, signature of the authorised person and so on
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="false" class="slick-slide slick-active slick-center slick-current" data-index="0" style="outline:none;width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/15-terms-you-must-know-before-buying-health-insurance" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/15-terms-you-must-know-before-buying-health-insurance_7213e5912a.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              15 terms you must know before buying health insurance
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              We have listed all 15 terms a health insurance buyer should know before buying any health insurance for you or your family.
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="true" class="slick-slide" data-index="1" style="outline:none;width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/how-much-health-insurance-do-i-need" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/How-Much-Health-Insurance-Do-You-Need_1c8ff87360.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              How Much Health Insurance Do You Need?
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              While more and more people are getting insurance for things they care about, underinsurance is still a major problem in our country.
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="true" class="slick-slide" data-index="2" style="outline:none;width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/4-simple-steps-to-file-a-mediclaim-in-india" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="steps to claim Mediclaim in India" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/steps-to-claim-health-insurance_1ab9ae3575.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              4 simple steps to claim MediClaim in India
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              Check that all the documents contain required information like the patient name, document number, serial number, cost price, signature of the authorised person and so on
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="true" class="slick-slide slick-center slick-cloned" data-index="3" style="width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/15-terms-you-must-know-before-buying-health-insurance" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/15-terms-you-must-know-before-buying-health-insurance_7213e5912a.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              15 terms you must know before buying health insurance
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              We have listed all 15 terms a health insurance buyer should know before buying any health insurance for you or your family.
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="true" class="slick-slide slick-cloned" data-index="4" style="width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/how-much-health-insurance-do-i-need" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/How-Much-Health-Insurance-Do-You-Need_1c8ff87360.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              How Much Health Insurance Do You Need?
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              While more and more people are getting insurance for things they care about, underinsurance is still a major problem in our country.
             </div>
            </div>
           </a>
          </div>
         </div>
         <div aria-hidden="true" class="slick-slide slick-cloned" data-index="5" style="width:12.5%" tabindex="-1">
          <div>
           <a class="col-12 col-md-4 mb-5" href="/knowledge-center/health-insurance/4-simple-steps-to-file-a-mediclaim-in-india" style="width:100%;display:inline-block" tabindex="-1">
            <div class="relatedArticles_relatedArticlesBox__sPOKz">
             <img alt="steps to claim Mediclaim in India" fetchpriority="low" loading="lazy" src="https://www.tataaig.com/s3/steps-to-claim-health-insurance_1ab9ae3575.jpeg"/>
             <div class="subHeading marginForDesktopRelatedArticles paddingForDesktopRelatedArticles">
              4 simple steps to claim MediClaim in India
             </div>
             <div class="contentClass3 paddingForDesktopRelatedArticles paddingBottomRelatedArticles">
              Check that all the documents contain required information like the patient name, document number, serial number, cost price, signature of the authorised person and so on
             </div>
            </div>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="pb-md-5 pb-3">
   </div>
  </div>
  <div class="container mt-5">
   <div class="row">
    <div class="col-lg-12">
     <h2 class="heading mAlignCenter h2-heading">
      Other Topics
     </h2>
    </div>
   </div>
   <div class="row my-3 mAlignCenter">
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="organ-transplant-insurance">
      Health Insurance For Organ Transplant
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="coronavirus-insurance">
      Health Insurance For Coronavirus
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="pre-existing-disease-cover-in-health-insurance">
      Health Insurance For Pre-Existing Disease
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="https://www.tataaig.com/health-insurance/stroke-health-insurance">
      Stroke Health Insurance
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="respiratory-disease-cover">
      Health Insurance for respiratory diseases
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="diabetics-health-insurance">
      Health Insurance for Diabetics
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="dental-insurance">
      Health Insurance with Dental Cover
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="corona-kavach">
      Corona Kavach Insurance
     </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 py-1">
     <a class="otherDestinations_country__Baxpd contentClass1 btn-link" href="critical-illness-insurance">
      Critical Illness Health Insurance
     </a>
    </div>
   </div>
  </div>
 </body>
</html>
